/* Ensure the box model includes padding and border in the width */
.loginForm-wrapper *:not(a):not(.header) {
    box-sizing: border-box;
}


.loginForm-content {
    background: #23272b; /* Set background color */
    padding: 20px; /* Margin settings */
    min-height: calc(100vh - 7%); /* Set minimum height */
    height: auto;
    display: flex;
    margin-top: 3%;
    align-items: center; /* Vertically centers content */
    flex-direction: column; /* Ensures content is stacked vertically */
}


.loginForm-wrapper {
    width: 100%;
    max-width: 500px;
    padding: 20px;
    border-radius: 8px;
    background: #23272b; /* Set background color */
    min-height: calc(100vh - 7%); /* Set minimum height */
    height: auto;
    display: flex;
    margin-top: 3%;
    align-items: center; /* Vertically centers content */
    flex-direction: column; /* Ensures content is stacked vertically */
}

.loginForm-wrapper .login-header {
    text-align: center;
}

.loginForm-wrapper .title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: rgb(253, 253, 253);
}

.loginForm-wrapper .subtitle {
    font-size: 14px;
    color: #9ba2ae;
}

.loginForm-wrapper .social-login {
    margin: 20px 0;
}

.loginForm-wrapper .oauth2_btn {
    display: flex;               /* Use flexbox for layout */
    align-items: center;        /* Vertically center the items */
    justify-content: center;
    text-align: center;
    text-decoration: none;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.loginForm-wrapper .btn {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.loginForm-wrapper .google-btn {
    background-color: #4285F4;
    color: white;
}

.loginForm-wrapper .google-btn:hover {
    background-color: #357ae8;
}

.loginForm-wrapper .naver-btn {
    background-color: #03C75A;
    color: white;
}

.loginForm-wrapper .naver-btn:hover {
    background-color: #02b650;
}

.loginForm-wrapper .kakao-btn {
    background-color: #FEE500;
    color: black;
}

.loginForm-wrapper .kakao-btn:hover {
    background-color: #d5be0d;
}

.loginForm-wrapper .icon {
    margin-right: 8px;
    font-weight: bold;
}

.loginForm-wrapper .divider {
    position: relative;
    text-align: center;
    margin: 20px 0;
}

.loginForm-wrapper .line {
    display: block;
    border-top: 1px solid #9ba2ae;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
}

.loginForm-wrapper .divider-text {
    background-color: #23272b;
    padding: 0 10px;
    position: relative;
    font-size: 12px;
    color: #9ba2ae;
    z-index: 100;
}

.loginForm-wrapper .email-login {
    margin-top: 20px;
}

.loginForm-wrapper .input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #4a5462;
    border-radius: 4px;
    font-size: 14px;
    color: white;
    background: rgb(45, 49, 53);
}

/* Adjust login button */
.loginForm-wrapper .login-btn {
    background-color: #007BFF;
    color: white;
}

.loginForm-wrapper .login-btn:hover {
    background-color: #0056b3;
}

/* Sign up section */
.loginForm-wrapper .sign-up {
    margin-top: 20px;
    text-align: center;
}

.loginForm-wrapper .sign-up-text {
    font-size: 14px;
    color: gray;
}

.loginForm-wrapper .sign-up-link {
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
}

.loginForm-wrapper .sign-up-link:hover {
    text-decoration: underline;
}
