.joinForm-content {
    background: #23272b; /* Set background color */
    padding: 20px; /* Margin settings */
    min-height: calc(100vh - 7%); /* Set minimum height */
    height: auto;
    display: flex;
    margin-top: 3%;
    align-items: center; /* Vertically centers content */
    flex-direction: column; /* Ensures content is stacked vertically */
}

.loginForm-wrapper{
    grid-area: content;
    background-color: #23272b;
}

.joinForm-wrapper{
    width: 100%;
    max-width: 500px;
    padding: 20px;
    border-radius: 8px;
}

.join-header {
    text-align: center;
    margin-bottom: 20px;
}

.title {
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.subtitle {
    color: gray;
}

.registration-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-label {
    color: white;
    margin-bottom: 8px;
}

.form-input {
    background-color: rgb(45, 49, 53);
    border: 1px solid gray;
    color: white;
    padding: 10px;
    border-radius: 4px;
    placeholder: gray;
}

.submit-button {
    background-color: #007BFF;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 10px;
}

.submit-button:hover {
    background-color: #0056b3;
}

.login{
    margin-top: 20px;
    text-align: center;
}

.login-text{
    font-size: 14px;
    color: gray;
}

.login-link{
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
}

.login-link:hover{
    text-decoration: underline;
}

#email{
    width: 100%;
}

.email-input-wrapper {
    display: flex;
    align-items: center; /* 수평으로 배치된 요소들이 세로로 정렬되도록 설정 */
    gap: 10px; /* input과 button 사이에 여백 추가 */
    width: 100%; /* 이 wrapper의 너비를 100%로 설정 */
}

.send-code-button {
    background-color: #007afd; /* 버튼 배경 색 */
    color: white;
    padding: 10px 15px; /* 버튼 내부 여백 */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
    flex-shrink: 0; /* 버튼이 줄어들지 않도록 설정 */
    width: auto; /* 버튼 너비를 내용에 맞게 자동 설정 */
}

.send-code-button:hover {
    background-color: #0056b3;
}