<div th:fragment="header" xmlns:sec="http://www.w3.org/1999/xhtml">
    <div class="header-wrapper">
        <div class="header">
            <div class="logo">
                <a href="/" class="header-link">Hagojabi</a>
            </div>
            <header>
                <button class="recruit-button">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                        <path fill-rule="evenodd"
                              d="M10.5 3.75a6.75 6.75 0 1 0 0 13.5 6.75 6.75 0 0 0 0-13.5ZM2.25 10.5a8.25 8.25 0 1 1 14.59 5.28l4.69 4.69a.75.75 0 1 1-1.06 1.06l-4.69-4.69A8.25 8.25 0 0 1 2.25 10.5Z"
                              clip-rule="evenodd" />
                    </svg>
                    팀원 모집하기
                </button>
                <div class="bar"></div>

                <div sec:authorize="isAuthenticated()">
                    <span th:text="${#authentication.name} + '님 반가워요!'"></span>
                    <button class="logout-button header-link" href="/logout">로그아웃</button>
                </div>
                <div sec:authorize="!isAuthenticated()">
                    <button class="login-button header-link" href="/loginForm">로그인</button>
                </div>
            </header>
        </div>
    </div>
</div>
