<div th:fragment="left-menu">
    <div class="left-menu">
        <nav class="nab-box">
            <ul class="nav-list">
                <li class="nav-item"><a th:href="@{/}">홈</a></li>
                <li class="nav-item"><a th:href="@{/}">팀원 구하기</a></li>
                <li class="nav-item"><a th:href="@{/}">프로젝트 찾기</a></li>
                <li class="nav-item"><a th:href="@{/}">포트 폴리오</a></li>
                <li class="nav-item"><a th:href="@{/}">커뮤니티</a></li>
                <br>
                <li class="nav-item"><a th:href="@{/}">마이 페이지</a></li>
                <!-- More items -->
            </ul>
        </nav>
    </div>
</div>