<div th:fragment="left-menu">
    <div class="left-menu">
        <nav class="nav-box">
            <ul class="nav-list">
                <li class="nav-item"><a href="/home" class="nav-link">홈</a></li>
                <li class="nav-item"><a href="/projectStudyPost/new" class="nav-link">팀원 구하기</a></li>
                <li class="nav-item"><a href="/projectStudyPost" class="nav-link">프로젝트 / 스터디 찾기</a></li>
                <li class="nav-item"><a href="/community" class="nav-link">커뮤니티</a></li>
                <li class="nav-item"><a href="/projectStudyPost/2" class="nav-link">테스트용</a></li>
                <li class="nav-item"><a href="/qqq" class="nav-link">테스트용2</a></li>
                <br>
                <li class="nav-item"><a href="/myPage" class="nav-link">마이 페이지</a></li>
            </ul>
        </nav>
    </div>
</div>

