<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hagojabi</title>
    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>
<body>
<div class="container">
    <!-- Include Header Fragment -->
    <div th:replace="fragments/header :: header"></div>

    <!-- Include Left-Menu Fragment -->
    <div th:replace="fragments/left-menu :: left-menu"></div>

    <!-- Content Area -->
    <div class="content-wrapper">
        <div id="content" class="content">
            <h1>Content Section</h1>
            <h1>Content Section</h1>
            <h1>Content Section</h1>
            <h1>Content Section</h1>
            <h1>Content Section</h1>
            <h1>Content Section</h1>
            <h1>Content Section</h1>
            <h1>Content Section</h1>
            <h1>Content Section</h1>
            <h1>Content Section</h1>
            <h1>Content Section</h1>
            <h1>Content Section</h1>
            <h1>Content Section</h1>
        </div>
    </div>
</div>
</body>
<script th:src="@{/js/navigation.js}"></script>

</html>
