<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OAuth2 Success</title>
</head>
<body>
<h1>Login Successful</h1>
<p>Processing your login...</p>

<script>
    function getQueryParam(param) {
        const urlParams = new URLSearchParams(window.location.search);
        return urlParams.get(param);
    }

    // Extract the token from the data injected by the controller
    const accessToken = getQueryParam('accessToken').split(' ')[1];
    if (accessToken) {
        // Store the token in local storage
        localStorage.setItem('accessToken', accessToken);

        // 메인 창에 로그인 성공 메시지 전송
        window.opener.postMessage('loginSuccess', window.location.origin);

        // 팝업을 닫는다.
        window.close();
    } else {
        alert("로그인 오류 다시 시도해주세요.");
        console.error('Token not found');
    }

</script>
</body>
</html>