<div class="ProjectStudyPost-content">
    <div class="ProjectStudyPost-wrapper">
        <form id="ProjectStudyPostForm" class="ProjectStudyPostForm">
            <!-- Additional form fields -->
            <div class="title-box">
                <div class="title">
                    <span class="title_number">1</span>
                    <h2>프로젝트 기본 정보를 입력해주세요.</h2>
                </div>
            </div>
            <div class="category-selectBox">

                <div class="form-group">
                    <label for="recruitmentType">모집 구분</label>
                    <div class="select-container">
                        <div id="selectBoxRecruitmentType" class="select-box" tabindex="0" role="combobox" aria-haspopup="listbox">
                            <span class="placeholder">옵션을 선택하세요</span>
                        </div>
                        <div id="optionsRecruitmentType" class="options" role="listbox">
                            <div class="option" role="option" data-value="프로젝트">프로젝트</div>
                            <div class="option" role="option" data-value="스터디">스터디</div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="peopleCount">모집 인원</label>
                    <div class="select-container">
                        <div id="selectBoxPeople" class="select-box" tabindex="0" role="combobox" aria-haspopup="listbox">
                            <span class="placeholder">옵션을 선택하세요</span>
                        </div>
                        <div id="optionsPeople" class="options" role="listbox">
                            <div class="option" role="option" data-value="미정">인원미정</div>
                            <div class="option" role="option" data-value="1명">1명</div>
                            <div class="option" role="option" data-value="2명">2명</div>
                            <div class="option" role="option" data-value="3명">3명</div>
                            <div class="option" role="option" data-value="4명">4명</div>
                            <div class="option" role="option" data-value="5명">5명</div>
                            <div class="option" role="option" data-value="6명">6명</div>
                            <div class="option" role="option" data-value="7명">7명</div>
                            <div class="option" role="option" data-value="8명">8명</div>
                            <div class="option" role="option" data-value="9명">9명</div>
                            <div class="option" role="option" data-value="10명 이상">10명 이상</div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="projectMode">진행방식</label>
                    <div class="select-container">
                        <div id="selectBoxProjectMode" class="select-box" tabindex="0" role="combobox" aria-haspopup="listbox">
                            <span class="placeholder">옵션을 선택하세요</span>
                        </div>
                        <div id="optionsMode" class="options" role="listbox">
                            <div class="option" role="option" data-value="온라인">온라인</div>
                            <div class="option" role="option" data-value="오프라인">오프라인</div>
                            <div class="option" role="option" data-value="온/오프라인">온/오프라인</div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="duration">진행 기간</label>
                    <div class="select-container">
                        <div id="selectBoxDuration" class="select-box" tabindex="0" role="combobox" aria-haspopup="listbox">
                            <span class="placeholder">옵션을 선택하세요</span>
                        </div>
                        <div id="optionsDuration" class="options" role="listbox">
                            <div class="option" role="option" data-value="미정">기간미정</div>
                            <div class="option" role="option" data-value="1개월">1개월</div>
                            <div class="option" role="option" data-value="2개월">2개월</div>
                            <div class="option" role="option" data-value="3개월">3개월</div>
                            <div class="option" role="option" data-value="4개월">4개월</div>
                            <div class="option" role="option" data-value="5개월">5개월</div>
                            <div class="option" role="option" data-value="6개월 이상">6개월 이상</div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="techStack">기술 스택</label>
                    <div class="select-container">
                        <div id="selectBoxTechStack" class="select-box" tabindex="0" role="combobox" aria-haspopup="listbox">
                            <span class="placeholder">옵션을 선택하세요</span>
                        </div>
                        <div id="optionsTechStack" class="options" role="listbox">
                            <div class="option" role="option" data-value="oneMonth">JavaScript</div>
                            <div class="option" role="option" data-value="threeMonths">TypeScript</div>
                            <div class="option" role="option" data-value="sixPlusMonths">React</div>
                            <div class="option" role="option" data-value="oneMonth">Vue</div>
                            <div class="option" role="option" data-value="threeMonths">Node.js</div>
                            <div class="option" role="option" data-value="sixPlusMonths">Spring</div>
                            <div class="option" role="option" data-value="oneMonth">Java</div>
                            <div class="option" role="option" data-value="threeMonths">Next.js</div>
                            <div class="option" role="option" data-value="sixPlusMonths">Express</div>
                            <div class="option" role="option" data-value="oneMonth">Go</div>
                            <div class="option" role="option" data-value="threeMonths">C</div>
                            <div class="option" role="option" data-value="sixPlusMonths">Python</div>
                            <div class="option" role="option" data-value="oneMonth">Django</div>
                            <div class="option" role="option" data-value="threeMonths">Swift</div>
                            <div class="option" role="option" data-value="sixPlusMonths">Kotlin</div>
                            <div class="option" role="option" data-value="sixPlusMonths">MySQL</div>
                            <div class="option" role="option" data-value="oneMonth">MongoDB</div>
                            <div class="option" role="option" data-value="threeMonths">PhP</div>
                            <div class="option" role="option" data-value="sixPlusMonths">GraphQL</div>
                            <div class="option" role="option" data-value="sixPlusMonths">Firebase</div>
                            <div class="option" role="option" data-value="oneMonth">ReactNative</div>
                            <div class="option" role="option" data-value="threeMonths">Unity</div>
                            <div class="option" role="option" data-value="sixPlusMonths">Flutter</div>
                            <div class="option" role="option" data-value="sixPlusMonths">AWS</div>
                            <div class="option" role="option" data-value="oneMonth">Kubernetes</div>
                            <div class="option" role="option" data-value="threeMonths">Docker</div>
                            <div class="option" role="option" data-value="sixPlusMonths">Git</div>
                            <div class="option" role="option" data-value="threeMonths">Figma</div>
                            <div class="option" role="option" data-value="sixPlusMonths">Zeplin</div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="position">포지션</label>
                    <div class="select-container">
                        <div id="selectBoxPosition" class="select-box" tabindex="0" role="combobox" aria-haspopup="listbox">
                            <span class="placeholder">옵션을 선택하세요</span>
                        </div>
                        <div id="optionsPosition" class="options" role="listbox">
                            <div class="option" role="option" data-value="프론트엔드">프론트엔드</div>
                            <div class="option" role="option" data-value="백엔드">백엔드</div>
                            <div class="option" role="option" data-value="디자이너">디자이너</div>
                            <div class="option" role="option" data-value="IOS">IOS</div>
                            <div class="option" role="option" data-value="안드로이드">안드로이드</div>
                            <div class="option" role="option" data-value="데브옵스">데브옵스</div>
                            <div class="option" role="option" data-value="PM">PM</div>
                            <div class="option" role="option" data-value="기획자">기획자</div>
                            <div class="option" role="option" data-value="마케터">마케터</div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="recruitmentDeadline">모집 마감일</label>
                    <div class="select-container">
                        <div class="date-box">
                            <input type="date" id="recruitmentDeadline" name="recruitmentDeadline" class="date-input" required />
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="contactEmail">연락 이메일</label>
                    <div class="select-container">
                        <div class="email-box">
                            <input type="email" placeholder="이메일을 입력하세요." name="contactEmail" id="contactEmail" class="email-input" required>
                        </div>
                    </div>
                </div>
            </div>

            <div class="title-box">
                <div class="title">
                    <span class="title_number">1</span>
                    <h2>프로젝트 기본 정보를 입력해주세요.</h2>
                </div>
            </div>
            <div class="editor-box">

                <div class="form-group">
                    <label for="title">제목</label>
                    <input type="text" id="title" name="title" required />
                </div>

                <div class="form-group">
                    <label for="editor">내용</label>
                    <div id="editor" class="content-editor">
                        <!-- Project description sections -->
                    </div>
                </div>

                <button type="submit">작성</button>

            </div>
        </form>
    </div>
</div>
